{% extends "layout.html" %}
{% block content %}

<form action="/upload/image" method="post" enctype="multipart/form-data" >
    <input type='file' id='imagefile' name='file' />
  <!--<button class="button1 white selected" onfocus="this.blur();">이미지 등록</button>-->
    <input type="submit" value="이미지 등록">

</form>
</br>

<form action="/upload/voice" method="post" enctype="multipart/form-data" >
    <input type='file' id='voicefile' name='file' accept="audio/*" capture="microphone"/>
     <input type="submit" value="음성 등록">


</form>

{% endblock %}